/* GLOBAL STYLES */

*, ::after, ::before {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --violet: hsl(263, 55%, 52%);
  --grayish-blue: hsl(217, 19%, 35%);
  --blackish-blue: hsl(219, 29%, 14%);
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(0, 0%, 81%);
  --grayish-blue: hsl(210, 46%, 95%);
  --grayish-white: #eee;

  --font-family-barlow: "Barlow Semi Condensed", sans-serif; /* 500, 600 */
}

/* PAGE */

.page {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
	animation: gradient 15s ease infinite;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  gap: 1rem;
}

@keyframes gradient {
	0% { background-position: 0% 50%; }
	50% { background-position: 100% 50%; }
	100% { background-position: 0% 50%; }
}

.page--flex {
  display: flex;
  flex-direction: column;
}

body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}



/* GRID */

.grid {
  width: 90%;
  max-width: 1440px;
  gap: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin-top: 2rem;
}

/* CARD */

.card {
  gap: 1.5rem;
  background: var(--white);
  padding: 2rem;
  border-radius: 1rem;
  transition: .3s;
}

.card__header,
.card__review,
.user {
  transition: .3s;
}

.card:hover .card__header{
  transform: translateY(-8px);
}

.card:hover .user {
  transform: translateY(4px);
}

.card:hover .card__review {
  transform: translateY(-16px);
}

.card:hover {
  transform: scale(.98);
  cursor: pointer;
}

.card:active {
  transform: scale(.85);
}

.card--user-daniel {
  grid-column: 1 / span 2;
  grid-row: 1 / span 1;
  background-color: var(--violet);
  color: var(--grayish-white);
  background: var(--violet) url(./images/bg-pattern-quotation.svg) no-repeat 80% 0%/20%;
}

.card--user-johnathan {
  grid-column: 3 / span 1;
  grid-row: 1 / span 1;
  background-color: #48556A;
  color: var(--grayish-white)
}

.card--user-jeanette {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
}

.card--user-patrick {
  grid-column: 2 / span 2;
  grid-row: 2 / span 1;
  background-color: var(--blackish-blue);
  color: var(--grayish-white)
}

.card--user-kira {
  grid-column: 4 / span 1;
  grid-row: 1 / span 2;
}

.card__review::before {
  content: '“';
}

.card__review::after {
  content: '”';
}

/* USER */

.user {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.user__avatar-wrapper {
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid var(--light-gray);
  width: 50px;
  height: 50px;
}

.user__avatar {
  width: 100%;
  height: 100%;
}

/* TEXT */

.text {
  font-family: var(--font-family-barlow);
  font-size: 13px;
  line-height: 150%;
  color: var(--gray);
}

.text--header {
  font-size: 150%;
  line-height: 100%;
}

.text--review {
  opacity: .7;
}

.text--edu {
  opacity: .5;
}

.text--light {
  font-weight: 200;
  letter-spacing: 1px;
}

/* FOOTER */

.footer {
  padding: 2rem 2rem;
  text-align: center;
  line-height: 500%;
  color: var(--white);
}

.link {
  border: 1px solid var(--white);
  color: var(--white);
  padding: .125rem .5rem;
  text-decoration: none;
  border-radius: .25rem;
  transition: .3s;
  display: inline-block;
  -webkit-user-drag: none;
  font-weight: 700;
}

.link:hover{
  transform: scale(.95);
  background-color: var(--blackish-blue);
  color: var(--white);
  border-color: var(--white);;
}

.link:active {
  transform: scale(.85);
  color: var(--white);
}

/* MEDIA QUERIES */

@media screen and (max-width: 1300px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: auto;
  }

  .card--user-kira {
    grid-column: 1 / span 3;
    grid-row: 3 / span 1;
  }

}

@media screen and (max-width: 1000px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: auto;
  }

  .card--user-daniel {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
  }

  .card--user-johnathan {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
  }

  .card--user-jeanette {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
  }

  .card--user-patrick {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
  }

  .card--user-kira {
    grid-column: 1 / span 2;
    grid-row: 3 / span 1;
  }

}

@media screen and (max-width: 1000px) {
  .grid {
    display: flex;
    flex-direction: column;
  }
}